@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div asp-authorize asp-roles="student">
        <h2>ROLE: teacher</h2>
    </div>

    <div asp-authorize-permission asp-permission="HomeController">
        <h1>PERMISSION: HomeController</h1>
    </div>
</div>

